  <header>
        <div class="logo">
            <a href="/">Bunda</a>
        </div>
        <div class="cart">
            <a class="bagLink" href="/bag">
                cart {<span class="totalItmes">{{totalItmes}}</span>}
            </a>
        </div>
    </header>