body{
    margin : 0;
    padding: 0;
}

header{
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightblue;
    height: 10vh;
    align-items: center;
}

.logo{
    font-weight: 700;
    color : darkcyan;
    font-size: 20px;
}

.cart{
    font-size: 20px;
    text-align: right;
}

.bagLink{
    text-decoration: none;
    color: black;
}

.bagLink:hover{
    color: #76b900;
    font-size: 25px;
    font-weight: 700;
}
.products{
    padding: 0 12%;
}

.productsWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.item img{
    width: 100%;
    height: 300px;
  
}

button{
    border: 0px solid;
    background-color: #76b900;
    font-size: 20px;
    padding: 10px;
    color: white;
    font-weight: 700;
}



/*bag code begins here*/

.bagHeading{
    text-align: center;
    font-weight: 700;
}

.bagWrapper{
    padding: 0 25%;
    font-size: 20px;
}

.bagItem, .bagHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bagItem{
    margin-top: 50px;
}
.bagImage img{
    height: 70px;
    width: 100%;
    object-fit: contain;
}

.checkout {
    text-align: center;
    color: red;
    padding: 20px;
}

.checkout a{
    padding-top: 10px;
}